/////////////////////////////////////////////////////////////////////////////
// Icon
/////////////////////////////////////////////////////////////////////////////
IDI_APPICON	ICON DISCARDABLE "res\\101.ico"
